In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("songsDataset.csv",nrows=10000)
data.columns = data.columns.str.strip().str.replace("'", "")

In [3]:
data.head()

   userID  songID  rating
0       0    7171       5
1       0    8637       4
2       0   21966       4
3       0   35821       5
4       0   82446       5

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   userID  10000 non-null  int64
 1   songID  10000 non-null  int64
 2   rating  10000 non-null  int64
dtypes: int64(3)
memory usage: 234.5 KB

In [5]:
data.isna().sum()

userID    0
songID    0
rating    0
dtype: int64

In [6]:
data.describe()

             userID         songID        rating
count  10000.000000   10000.000000  10000.000000
mean     499.500000   67940.171600      3.469000
std      288.689425   39267.696423      1.546182
min        0.000000       4.000000      1.000000
25%      249.750000   34282.000000      2.000000
50%      499.500000   67264.500000      4.000000
75%      749.250000  101778.500000      5.000000
max      999.000000  136728.000000      5.000000

user-item matric

In [7]:
user_item_matrix = data.pivot_table(index='userID', columns='songID', values='rating').fillna(0)
user_item_matrix.head()

songID,4,34,45,66,69,98,107,115,191,208,...,136507,136571,136586,136592,136623,136686,136714,136716,136719,136728
userID,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
from sklearn.metrics.pairwise import cosine_similarity
user_similarity_matrix = cosine_similarity(user_item_matrix)
# user - user
user_similarity_df = pd.DataFrame(user_similarity_matrix, index=user_item_matrix.index, columns=user_item_matrix.index)
user_similarity_df

userID,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
userID,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,0.0
996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.237418,0.0,0.0,0.0,1.0,0.0,0.0,0.0
997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,1.0,0.0,0.0
998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0
999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,1.0

similar user

In [9]:
def get_user_similarity(target_user, user_similarity_df, top_n=5):
    similar_scores = user_similarity_df[target_user].sort_values(ascending=False)
    similar_users = similar_scores.iloc[1:top_n+1].index.tolist()
    return similar_users

Recommendation songs to target user

In [10]:
def recommend_songs_user_based(userID, user_item_matrix, user_similarity_df, num_recs=5):
    similar_users = get_user_similarity(userID, user_similarity_df)

    recommended_songs = []

    for similar_userID in similar_users:
        for songID, rating in user_item_matrix.loc[similar_userID].items():
            if rating > 0:
                recommended_songs.append((songID, rating))

    recommended_songs = sorted(recommended_songs, key=lambda x: x[1], reverse=True)

    return [songID for songID, _ in recommended_songs[:num_recs]]

In [11]:
target_user = int(input("Enter user ID: "))
recommended_songs = recommend_songs_user_based(target_user, user_item_matrix, user_similarity_df)
print(f"Recommendations for user {target_user}: {recommended_songs}")

Recommendations for user 55: [41672, 54050, 54597, 12861, 31501]

item based

In [12]:
# Compute item similarity matrix
item_similarity_matrix = cosine_similarity(user_item_matrix.T)
item_similarity_df = pd.DataFrame(item_similarity_matrix, index=user_item_matrix.columns, columns=user_item_matrix.columns)

In [13]:
# Function to find similar items
def get_item_similarity(target_song, item_similarity_df, top_n=5):
    similar_scores = item_similarity_df[target_song].sort_values(ascending=False)
    similar_items = similar_scores.iloc[1:top_n+1].index.tolist()
    return similar_items

In [14]:
# Function to recommend songs
def recommend_songs_item_based(userID, user_item_matrix, item_similarity_df, num_recs=5):
    user_ratings = user_item_matrix.loc[userID]
    rated_songs = user_ratings[user_ratings > 0].index.tolist()
    recommended_songs = []

    for songID in rated_songs:
        similar_songs = get_item_similarity(songID, item_similarity_df)
        for similar_song in similar_songs:
            if similar_song not in rated_songs:
                recommended_songs.append(similar_song)

    recommended_songs = list(set(recommended_songs))[:num_recs]
    return recommended_songs

In [15]:
# Example usage
target_user = int(input("Enter user ID: "))
recommended_songs = recommend_songs_item_based(target_user, user_item_matrix, item_similarity_df)
print(f"Recommendations for user {target_user}: {recommended_songs}")

Recommendations for user 55: [101633, 38020, 87300, 31501, 131736]

In [18]:
def hybrid_recommendations(userID, user_item_matrix, user_similarity_df, item_similarity_df, user_weight, item_weight, num_recs=5):
    # Get recommendations from both methods
    user_based_recommendations = recommend_songs_user_based(userID, user_item_matrix, user_similarity_df, num_recs)
    item_based_recommendations = recommend_songs_item_based(userID, user_item_matrix, item_similarity_df, num_recs)

    # Combine recommendations
    all_recommendations = {}
    for song in user_based_recommendations:
        if song not in all_recommendations:
            all_recommendations[song] = user_weight
        else:
            all_recommendations[song] += user_weight

    for song in item_based_recommendations:
        if song not in all_recommendations:
            all_recommendations[song] = item_weight
        else:
            all_recommendations[song] += item_weight

    # Sort and get top recommendations
    sorted_recommendations = sorted(all_recommendations.items(), key=lambda x: x[1], reverse=True)
    recommended_songs = [song for song, score in sorted_recommendations[:num_recs]]

    return recommended_songs

In [19]:
# Example usage
target_user = int(input("Enter user ID: "))
recommended_songs = hybrid_recommendations(target_user, user_item_matrix, user_similarity_df, item_similarity_df, user_weight=0.6, item_weight=0.4)
print(f"Hybrid recommendations for user {target_user}: {recommended_songs}")

Hybrid recommendations for user 55: [31501, 41672, 54050, 54597, 12861]